<template>
  <div>
    <el-table :data="tableData">
      <el-table-column
        prop="id"
        label="发票ID"
        show-overflow-tooltip
        width="80"
      ></el-table-column>
      <el-table-column
        prop="title"
        label="发票名称"
        show-overflow-tooltip
        width="150"
      ></el-table-column>
      <el-table-column
        prop="created"
        label="开票日期"
        show-overflow-tooltip
        width="100"
      ></el-table-column>
      <el-table-column
        prop="sellPoint"
        label="购买方名称"
        show-overflow-tooltip
        width="200"
      ></el-table-column>
      <el-table-column
        prop="barcode"
        label="销售方名称"
        show-overflow-tooltip
        width="200"
      ></el-table-column>
      <el-table-column
        prop="price"
        label="发票金额"
        show-overflow-tooltip
        width="80"
      ></el-table-column>
      <el-table-column
        prop="status"
        label="发票状态"
        show-overflow-tooltip
        width="80"
      >
        <template slot-scope="scope">
          <div class="approveState">
            <span v-if="scope.row.status == 0" class="success"
              ><i />已开票</span
            >
            <span v-if="scope.row.status == 1" class="pas"><i />已作废</span>
            <span v-if="scope.row.status == 2" class="fail"><i />已红冲</span>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="descs" label="发票描述" show-overflow-tooltip>
        <template slot-scope="scope">
          <div v-html="scope.row.descs"></div>
        </template>
      </el-table-column>
      <el-table-column label="操作" width="150">
        <template slot-scope="scope">
          <el-button size="mini" @click="handleEdit(scope.$index, scope.row)"
            >编辑</el-button
          >
          <el-button
            size="mini"
            type="danger"
            @click="handleDelete(scope.$index, scope.row)"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>
    <!-- <productPagination /> -->
    <productEditor :flag="flag" />
  </div>
</template>

<script>
import api from "../../api";
import { mapState } from "vuex";
import productEditor from "./productEditor.vue";
// import productPagination from "./productPagination.vue"

export default {
  data() {
    return {
      tableData: [],
      flag: false,
    };
  },
  components: {
    //   productPagination
    productEditor,
  },
  computed: {
    ...mapState("productModule", ["page", "search"]),
    pageChange() {
      return this.page;
    },
    searchChange() {
      return this.search;
    },
  },
  watch: {
    pageChange(newVal) {
      this.http(newVal);
    },
    searchChange(newVal) {
      // 模糊搜索
      api
        .search({
          search: newVal,
        })
        .then((res) => {
          if (res.data.status === 200) {
            this.tableData = res.data.result;
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  mounted() {
    this.http(1);
    this.$bus.$on("onPage", (val) => {
      // this.http(val);
    });
    this.$bus.$on("onRefresh", (flag) => {
      this.http(1);
    });
  },
  methods: {
    http(page) {
      api
        .selectTbItemAllByPage({ page })
        .then((res) => {
          if (res.data.status === 200) {
            this.tableData = res.data.result;
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    handleEdit(index, row) {
      // this.flag = true
      this.$bus.$emit("onShowEditor", row);
    },
    /**
     * 删除功能
     */
    handleDelete(index, row) {
      console.log(index, row);
      api
        .deleteItemById({
          id: row.id,
        })
        .then((res) => {
          this.$confirm("此操作将永久删除该文件, 是否继续?", "提示", {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning",
          })
            .then(() => {
              if (res.data.status === 200) {
                this.$message({
                  type: "success",
                  message: "删除成功!",
                });
                // 视图重绘
                this.http(1);
              } else {
                this.$message({
                  type: "error",
                  message: "删除失败!",
                });
              }
            })
            .catch(() => {
              this.$message({
                type: "info",
                message: "已取消删除",
              });
            });
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style scoped>
.approveState i {
  width: 4px;
  height: 4px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
  background: #000;
}
.approveState .fail i {
  background: #fe7000;
}
.approveState .pas i {
  background: #f9cc03;
}
.approveState .success i {
  background: #00b2a6;
}
</style>