<template>
  <el-dialog
    title="添加发票"
    :visible.sync="dialogAddVisible"
    width="50%"
    :before-close="handleClose"
  >
    <el-form label-width="100px" :model="addForm" ref="addForm">
      <el-form-item label="发票名称">
        <el-input v-model="addForm.name"></el-input>
      </el-form-item>
      <el-form-item label="销售方名称">
        <el-input v-model="addForm.barcode"></el-input>
      </el-form-item>
      <el-form-item label="购买方名称">
        <el-input v-model="addForm.sellPoint"></el-input>
      </el-form-item>
      <el-form-item label="发票金额">
        <el-input v-model="addForm.price" type="number"></el-input>
      </el-form-item>
      <el-form-item label="发票状态">
        <el-select
          v-model="addForm.status"
          clearable
          placeholder="请选择"
          style="width: 100%"
        >
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <!-- <el-form-item label="上传图片">
        <el-button class="category" type="primary" @click="dialogUploadHandle"
          >上传图片</el-button
        >
        <img class="upload-img" :src="uploadData.url" alt="" />
        <el-dialog
          width="50%"
          title="上传图片"
          :visible.sync="dialogUploadVisible"
          append-to-body
        >
          <ProductUpload @onUpload="getUploadData" />
          <span slot="footer" class="dialog-footer">
            <el-button @click="dialogUploadVisible = false">取 消</el-button>
            <el-button type="primary" @click="dialogUploadVisible = false"
              >确 定</el-button
            >
          </span>
        </el-dialog>
      </el-form-item> -->
      <el-form-item label="发票描述">
        <!-- <BaiduUEditor /> -->
        <WangEditor @onEditor="getEditorData" />
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="dialogAddVisible = false">取 消</el-button>
      <el-button type="primary" @click="addHandle">确 定</el-button>
    </span>
  </el-dialog>
</template>

<script>
import ProductUpload from "./productUpload.vue";
import WangEditor from "./wangEditor.vue";
import api from "../../api";
export default {
  data() {
    return {
      dialogAddVisible: false,
      dialogCategoryVisible: false,
      dialogUploadVisible: false,
      addForm: {},
      treeData: {},
      uploadData: {},
      editorData: "",
      options: [
        {
          value: "0",
          label: "已开票",
        },
        {
          value: "1",
          label: "已作废",
        },
        {
          value: "2",
          label: "已红冲",
        },
      ],
    };
  },
  components: {
    ProductUpload,
    WangEditor,
  },
  mounted() {
    this.$bus.$on("onAdd", (flag) => {
      this.dialogAddVisible = flag;
    });
  },
  methods: {
    handleClose(done) {
      done();
    },
    dialogCategoryHandle() {
      this.dialogCategoryVisible = true;
    },
    dialogUploadHandle() {
      this.dialogUploadVisible = true;
    },
    getTreeData(data) {
      this.treeData = data;
    },
    // 添加按钮
    addHandle() {
      api
        .insertTbItem({
          title: this.addForm.name,
          barcode:this.addForm.barcode,
          sellPoint: this.addForm.sellPoint,
          price: this.addForm.price,
          status: this.addForm.status,
          desc: this.editorData,
          image: this.uploadData.url,
        })
        .then((res) => {
          console.log(res.data);
          if (res.data.status === 200) {
            this.dialogAddVisible = false;
            this.$bus.$emit("onRefresh", true);
          } else {
            console.log("添加失败");
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getUploadData(data) {
      if (data.url) {
        data.url = data.url.replace("upload", "http://localhost:3001");
      }
      this.uploadData = data;
    },
    getEditorData(data) {
      this.editorData = data;
    },
  },
};
</script>

<style scoped>
.category {
  float: left;
}

.upload-img {
  width: 300px;
  float: left;
  margin-left: 10px;
}
</style>