<template>
  <div class="head">
      <el-form ref="searchForm" :model="search" @submit.native.prevent>
          <el-form-item>
              <el-input v-model="search.content" @change="onSubmitSearch" clearable>
                <el-button slot="append" icon="el-icon-search" @click="onSubmitSearch"></el-button>
              </el-input>
          </el-form-item>
          <el-form-item>
              <!-- <el-button type="primary" >{{ $t("message.search") }}</el-button> -->
          </el-form-item>
          <el-form-item>
              <el-button type="primary" @click="addProductHandle">{{ $t("message.add") }}</el-button>
          </el-form-item>
      </el-form>
  </div>
</template>

<script>
import { mapMutations } from "vuex"
export default {
    data(){
        return{
            search:{}
        }
    },
    methods:{
        ...mapMutations("productModule",["setSearch"]),
        onSubmitSearch(){
            this.setSearch(this.search.content)
        },
        addProductHandle(){
            this.$bus.$emit("onAdd",true)
        }
    }
}
</script>

<style scoped lang="less">

.el-form {
    overflow: hidden;
    clear: both;
    display: flex;
    width: 100%;
    display: flex;
    .el-form-item {
        margin-right: 10px;
    }
}

.head {
    margin-top: 20px;
    width: 100%;
}

</style>