<template>
  <el-dialog
    title="修改发票信息"
    :visible.sync="dialogEditorVisible"
    width="50%"
    :before-close="handleClose"
  >
    <el-form label-width="100px" :model="editorForm" ref="editorForm">
      <el-form-item label="发票名称">
        <el-input v-model="editorForm.name"></el-input>
      </el-form-item>
      <el-form-item label="销售方名称">
        <el-input v-model="editorForm.barcode"></el-input>
      </el-form-item>
      <el-form-item label="购买方名称">
        <el-input v-model="editorForm.sellPoint"></el-input>
      </el-form-item>
      <el-form-item label="发票金额">
        <el-input v-model="editorForm.price" type="number"></el-input>
      </el-form-item>
      <el-form-item label="发票状态">
        <el-select
          v-model="editorForm.status"
          clearable
          placeholder="请选择"
          style="width: 100%"
        >
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <!-- <el-form-item label="上传图片">
        <el-button class="category" type="primary" @click="dialogUploadHandle"
          >上传图片</el-button
        >
        <img class="upload-img" :src="uploadData.url" alt="" />
        <el-dialog
          width="50%"
          title="上传图片"
          :visible.sync="dialogUploadVisible"
          append-to-body
        >
          <ProductUpload @onUpload="getUploadData" />
          <span slot="footer" class="dialog-footer">
            <el-button @click="dialogUploadVisible = false">取 消</el-button>
            <el-button type="primary" @click="dialogUploadVisible = false"
              >确 定</el-button
            >
          </span>
        </el-dialog>
      </el-form-item> -->
      <el-form-item label="发票描述">
        <!-- <BaiduUEditor /> -->
        <WangEditor @onEditor="getEditorData" :editorData="editorData" />
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="dialogEditorVisible = false">取 消</el-button>
      <el-button type="primary" @click="editorHandle">确 定</el-button>
    </span>
  </el-dialog>
</template>

<script>
import ProductUpload from "./productUpload.vue";
import WangEditor from "./wangEditor.vue";
import api from "../../api";

export default {
  data() {
    return {
      dialogEditorVisible: false,
      dialogCategoryVisible: false,
      dialogUploadVisible: false,
      editorForm: {},
      treeData: {},
      uploadData: {},
      editorData: "",
      currentRow: {},
      options: [
        {
          value: "0",
          label: "已开票",
        },
        {
          value: "1",
          label: "已作废",
        },
        {
          value: "2",
          label: "已红冲",
        },
      ],
    };
  },
  components: {
    ProductUpload,
    WangEditor,
  },
  props: {
    flag: {
      type: Boolean,
      default: false,
    },
  },
  watch: {
    flag(newVal) {
      //   this.dialogEditorVisible = newVal;
    },
  },
  mounted() {
    this.$bus.$on("onShowEditor", (row) => {
      this.dialogEditorVisible = true;
      this.currentRow = row;
      api
        .preUpdateItem({ id: row.id })
        .then((res) => {
          this.treeData = {
            cid: res.data.result.cid,
            name: res.data.result.cid,
          };
          this.editorForm = {
            name: res.data.result.title,
            barcode: res.data.result.barcode,
            price: res.data.result.price,
            status: res.data.result.status,
            sellPoint: res.data.result.sellPoint,
          };
          this.uploadData = {
            url: res.data.result.image,
          };
          this.editorData = res.data.result.descs;
        })
        .catch((error) => {
          console.log(error);
        });
    });
  },
  methods: {
    handleClose(done) {
      done();
    },
    dialogCategoryHandle() {
      // this.dialogCategoryVisible = true;
    },
    dialogUploadHandle() {
      this.dialogUploadVisible = true;
    },
    getTreeData(data) {
      this.treeData = data;
    },
    // 修改按钮
    // 预更新
    editorHandle() {
      api
        .updateTbItem({
          id: this.currentRow.id,
          title: this.editorForm.name,
          sellPoint: this.editorForm.sellPoint,
          barcode: this.editorForm.barcode,
          price: this.editorForm.price,
          status: this.editorForm.status,
          desc: this.editorData,
          image: this.uploadData.url,
        })
        .then((res) => {
          if (res.data.status === 200) {
            this.$message({
              message: res.data.msg,
              type: "success",
            });
            this.dialogEditorVisible = false;
            this.$bus.$emit("onRefresh", true);
          } else {
            this.$message({
              message: res.data.msg,
              type: "error",
            });
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getUploadData(data) {
      if (data.url) {
        data.url = data.url.replace("upload", "http://localhost:3001");
      }
      this.uploadData = data;
    },
    getEditorData(data) {
      this.editorData = data;
    },
  },
};
</script>

<style scoped>
.category {
  float: left;
}

.upload-img {
  width: 300px;
  float: left;
  margin-left: 10px;
}
</style>