body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

html,
body,
#app,
.container {
    height: 100%;
}

body {
    text-align: center;
    background: #e6ecea;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input,
button,
img {
    border: none
}

.active {
    color: #409EFF
}