<template>
  <div>
    <div class="header">
      <div class="login">
        <!-- <el-dropdown class="lang" @command="handleCommand">
          <span class="el-dropdown-link">
            语言切换<i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item command="zh">中文</el-dropdown-item>
            <el-dropdown-item command="en">英文</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown> -->
        <!-- <el-badge :value="12" class="item">
          <i class="el-icon-message-solid"></i>
        </el-badge> -->
        <!-- <span class="user-name"></span> -->
        <el-dropdown>
          <span class="el-dropdown-link">
            {{ username }}<i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <!-- <el-dropdown-item> -->
            <!-- tag：router-link默认被渲染成a标签，我们可以选择渲染其他标签，使用tag -->
            <!-- <router-link to="/user" tag="span">个人中心</router-link>
            </el-dropdown-item> -->
            <el-dropdown-item
              ><div @click="logout">退出登录</div></el-dropdown-item
            >
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </div>
    <el-breadcrumb
      separator="/"
      style="padding-left: 210px; height: 50px; line-height: 50px"
    >
      <el-breadcrumb-item v-for="item in breadcrumb" :key="item.path">{{
        item.name
      }}</el-breadcrumb-item>
    </el-breadcrumb>
    <el-menu
      :default-active="currentIndex"
      class="el-menu-vertical-demo"
      background-color="#001528"
      text-color="#fff"
      active-text-color="#ffd04b"
      router
    >
      <el-submenu index="/layout">
        <template slot="title">
          <i class="el-icon-menu"></i>
          <span>首页</span>
        </template>
        <el-menu-item index="/project"><span>用户管理</span></el-menu-item>
        <el-menu-item index="/project3"><span>发票详情</span></el-menu-item>
        <el-menu-item index="/project4"><span>用户中心</span></el-menu-item>
        <el-menu-item index="/project5"><span>数据统计</span></el-menu-item>
      </el-submenu>

      <!-- <el-menu-item index="/params">
        <i class="el-icon-menu"></i>
        <span>{{ $t("message.params") }}</span>
      </el-menu-item> -->
    </el-menu>
  </div>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
  data() {
    return {
      currentIndex: "/product",
    };
  },
  mounted() {
    this.currentIndex = this.$route.path;
  },
  computed: {
    ...mapState("loginModule", ["username"]),
    breadcrumb() {
      const matched = this.$route.matched;
      const arr = [];
      for (let i = 0; i < matched.length; i++) {
        const item = matched[i];
        if (item.name) {
          arr.push({ name: item.name, path: item.path });
        }
      }
      return arr;
    },
  },
  methods: {
    ...mapMutations("loginModule", ["clearToken"]),
    logout() {
      /**
       * 1.存储在Vuex
       * 2.存储在本地localStroage
       */
      this.clearToken();
      localStorage.removeItem("ego");
      this.$router.push("/login");
    },
    handleCommand(command) {
      this.$i18n.locale = command;
    },
  },
};
</script>

<style scoped>
.lang {
  margin-right: 10px;
}
.header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #b3c0d0;
  box-shadow: 0px 0px 5px 1px #999;
}

.header .user-name {
  color: #fff;
  margin-right: 10px;
  font-size: 15px;
}

.header .login {
  height: 50px;
  float: right;
  margin-right: 20px;
}

.header .login .item {
  height: 25px;
  margin-right: 30px;
}

.header .login .item i {
  display: block;
  font-size: 25px;
}

.el-menu-vertical-demo {
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: left;
  z-index: 1000;
}
</style>