<template>
  <div class="lobox">
    <div class="login">
      <div class="banner">欢迎登陆</div>
      <el-form
        :model="loginForm"
        status-icon
        ref="loginForm"
        label-width="100px"
        :rules="rules"
      >
        <el-form-item prop="username">
          <el-input type="text" v-model="loginForm.username">
            <el-button slot="prepend" icon="el-icon-user-solid"></el-button>
          </el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input type="password" v-model="loginForm.password">
            <el-button slot="prepend" icon="el-icon-lock"></el-button>
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-button
            type="primary"
            @click="submitLoginForm('loginForm')"
            style="width: 100%"
            >登陆</el-button
          >
        </el-form-item>
      </el-form>
   </div>
  </div>
</template>

<script>
import api from "../../api";
import { mapMutations } from "vuex";
import jwtDecode from "jwt-decode";

export default {
  data() {
    return {
      activeName: "login",
      loginForm: {
        username: "",
        password: "",
      },
      registerForm: {
        username: "",
        password: "",
        email: "",
        checkPassword: "",
      },
      rules: {
        // 使用用户名验证，失去焦点触发
        username: [
          { required: true, message: "请输入用户名", trigger: "blur" },
        ],
        password: [{ required: true, message: "请输入密码", trigger: "blur" }],
      },
    };
  },
  methods: {
    ...mapMutations("loginModule", ["updateUsername", "updateToken"]),
    handleClick(tab, event) {
      console.log(tab, event);
    },
    submitLoginForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          // 表单验证通过
          api
            .login({
              username: this.loginForm.username,
              password: this.loginForm.password,
            })
            .then((res) => {
              if (res.data.status === 200) {
                // this.updateUsername(res.data.result[0].username);
                this.$message.success(res.data.msg)
                this.updateToken(res.data.token); // 存入vuex
                this.updateUsername(jwtDecode(res.data.token).username);
                var currentObj = {
                  token: res.data.token,
                  username: jwtDecode(res.data.token).username,
                };
                localStorage.setItem("ego", JSON.stringify(currentObj));
                this.$router.push("/");
              }
            })
            .catch((error) => {
              this.$message.warning(error.data.msg);
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
  },
};
</script>

<style scoped>
.lobox{
  height: 100%;
  background: url('../../assets/bg.jpg') no-repeat 50%;
  /* background-size: 100% 100%; */
  background-size: cover;
}
.login {
  position: absolute;
  top: 20vw;
  right: 20vw;
  padding: 20px;
  background-color: #fff;
  width: 350px;
  height: 300px;
  box-shadow: 0 6px 15px #cbced3;
  border-radius: 15px;
}
.banner {
  font-size: 20px;
  font-weight: 800;
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin: 20px 0;
}
::v-deep .el-form-item__content {
  margin-left: 0 !important;
}
/* .box-card {
  width: 600px;
  margin: 0 auto;
  margin-top: 20px;
} */
</style>